In [15]:
import duckdb
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
con = duckdb.connect('../data/sakila.duckdb')

In [17]:
con.sql("SELECT * FROM film LIMIT 5").df()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,<NA>,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,<NA>,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,<NA>,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,<NA>,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2021-03-06 15:52:00
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,<NA>,6,2.99,130,22.99,G,Deleted Scenes,2021-03-06 15:52:00

## a) Movies longer than 3 hours

In [23]:
films = con.sql("FROM film;").df()

In [ ]:
film_length = """--sql
SELECT
    length,
    title
FROM
    film
WHERE
    length > 180;
    """

In [21]:
df = con.sql(film_length).df()
df.head()

   length              title
0     181   ANALYZE HOOSIERS
1     182    BAKED CLEOPATRA
2     183      CATCH AMISTAD
3     185      CHICAGO NORTH
4     184  CONSPIRACY SPIRIT

In [49]:
film_length = films[films['length'] >= 180][['title', 'length']]
film_length

                      title  length
15          ALLEY EVOLUTION     180
23         ANALYZE HOOSIERS     181
49          BAKED CLEOPATRA     182
127           CATCH AMISTAD     183
140           CHICAGO NORTH     185
173  CONFIDENTIAL INTERVIEW     180
179       CONSPIRACY SPIRIT     184
181          CONTROL ANTHEM     185
197        CRYSTAL BREAKING     184
211          DARN FORRESTER     185
339          FRONTIER CABIN     183
348             GANGS PRIDE     185
405        HAUNTING PIANIST     181
425               HOME PITY     185
434         HOTEL HAPPINESS     181
453          IMPACT ALADDIN     180
466          INTRIGUE WORST     181
472           JACKET FRISCO     181
498          KING EVOLUTION     184
509          LAWLESS VISION     181
534           LOVE SUICIDES     181
583             MIXED DOORS     180
590           MONSOON CAUSE     182
596         MOONWALKER FOOL     184
608           MUSCLE BRIGHT     185
611      MUSSOLINI SPOILERS     180
614           NASH CHOCOLAT     180
689            POND SEATTLE     185
718           RECORDS ZORRO     182
720              REDS POCUS     182
750      RUNAWAY TENENBAUMS     181
764             SATURN NAME     182
766           SCALAWAG DUCK     183
773          SEARCHERS WAIT     182
812         SMOOCHY CONTROL     184
816      SOLDIERS EVOLUTION     185
817          SOMETHING DUCK     180
819          SONS INTERVIEW     184
820          SORORITY QUEEN     184
840          STAR OPERATION     181
871       SWEET BROTHERHOOD     185
885          THEORY MERMAID     184
972               WIFE TURN     183
973             WILD APOLLO     181
990            WORST BANGER     185
995          YOUNG LANGUAGE     183

## b) Which movies have the word "love" in its title? Show the following columns
- title
- rating
- length
- description

In [54]:
con.sql("""SELECT
    title,
    rating,
    length,
    description
FROM
    film
WHERE
    title ILIKE '%love%';""").df()

,title,rating,length,description
0,GRAFFITI LOVE,PG,117,A Unbelieveable Epistle of a Sumo Wrestler And...
1,IDAHO LOVE,PG-13,172,A Fast-Paced Drama of a Student And a Crocodil...
2,IDENTITY LOVER,PG-13,119,A Boring Tale of a Composer And a Mad Cow who ...
3,INDIAN LOVE,NC-17,135,A Insightful Saga of a Mad Scientist And a Mad...
4,LAWRENCE LOVE,NC-17,175,A Fanciful Yarn of a Database Administrator An...
5,LOVE SUICIDES,R,181,A Brilliant Panorama of a Hunter And a Explore...
6,LOVELY JINGLE,PG,65,A Fanciful Yarn of a Crocodile And a Forensic ...
7,LOVER TRUMAN,G,75,A Emotional Yarn of a Robot And a Boy who must...
8,LOVERBOY ATTACKS,PG-13,162,A Boring Story of a Car And a Butler who must ...
9,STRANGELOVE DESIRE,NC-17,103,A Awe-Inspiring Panorama of a Lumberjack And a...

In [58]:
films[['title', 'rating', 'length', 'description']]
films[films['title'].str.contains('love', case=False)][['title', 'rating', 'length', 'description']]

,title,rating,length,description
373,GRAFFITI LOVE,PG,117,A Unbelieveable Epistle of a Sumo Wrestler And...
447,IDAHO LOVE,PG-13,172,A Fast-Paced Drama of a Student And a Crocodil...
448,IDENTITY LOVER,PG-13,119,A Boring Tale of a Composer And a Mad Cow who ...
457,INDIAN LOVE,NC-17,135,A Insightful Saga of a Mad Scientist And a Mad...
510,LAWRENCE LOVE,NC-17,175,A Fanciful Yarn of a Database Administrator An...
534,LOVE SUICIDES,R,181,A Brilliant Panorama of a Hunter And a Explore...
535,LOVELY JINGLE,PG,65,A Fanciful Yarn of a Crocodile And a Forensic ...
536,LOVER TRUMAN,G,75,A Emotional Yarn of a Robot And a Boy who must...
537,LOVERBOY ATTACKS,PG-13,162,A Boring Story of a Car And a Butler who must ...
851,STRANGELOVE DESIRE,NC-17,103,A Awe-Inspiring Panorama of a Lumberjack And a...